@import url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff");
body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  min-height: 100vh;
  margin: 0px;
}

#root {
  background-color: white;
}

.App {
  width: 375px;
  height: 812px;
  padding-left: 20px;
  padding-right: 20px;
}
